.scroll {
  overflow-y: scroll;
}
.dfy-personal-info {
  background: #23252e;
}
.button-close {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;

  @include media(sm-down) {
    padding: 20px 12px;
    button {
      width: 30px;
      height: 30px;
    }
  }
}
.dialog-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin: 0 auto;
  @include media(sm-down) {
    font-size: 20px;
    line-height: 24px;
  }
}
.input-card__cols {
  display: flex;
  justify-content: space-between;
  @include media(sm-down) {
    display: block;
  }
}
.input-card__col {
  width: 44%;
  @include media(sm-down) {
    width: 100%;
  }
}

.select-phone {
  flex: 1;
  margin-right: 16px !important;
}
.field-phone {
  flex: 2;
}

.buy-dfy__input {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px 12px;
  @include media(sm) {
    padding: 32px 40px 40px 40px;
  }
}

.input-card__item--wallet {
  margin-top: 56px;
  @include media(sm-down) {
    margin-top: 0;
  }
}
.input-card__label {
  font-weight: 500;
  color: $white;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-card__field {
  display: flex;
  align-items: center;
}
.go-payment {
  font-size: 16px;
}
