.scroll {
  overflow-y: scroll;
}
.dfy-personal-info {
  background: #23252e;
}
.button-close {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
  @include media(sm-down) {
    padding: 20px 12px;
    button {
      width: 30px;
      height: 30px;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}

.button-back {
  display: flex;
  button {
    width: 20px;
    height: 20px;
  }
  svg {
    width: 12px;
    height: 12px;
  }
}

.label-back {
  margin-left: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.dialog-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin: 0 auto;
  @include media(sm-down) {
    font-size: 20px;
    line-height: 24px;
  }
  @include media(xs) {
    display: none;
  }
  &-mobile {
    display: none;
    @include media(sm-down) {
      display: none;
    }
    @include media(xs) {
      display: block;
    }
  }
}
.input-card__cols {
  display: flex;
  justify-content: space-between;
  @include media(sm-down) {
    display: block;
  }
}
.input-card__col {
  width: 44%;
  @include media(sm-down) {
    display: block;
    width: 100%;
  }
}

.select-phone {
  flex: 1;
  margin-right: 16px !important;
}
.field-phone {
  flex: 2;
}

.buy-dfy__input {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px 12px;

  @include media(sm) {
    padding: 32px 40px 40px 40px;
  }
}

.input-card__item--wallet {
  margin-top: 56px;
  @include media(sm) {
    margin-top: 0;
  }
}
.input-card__label {
  font-weight: 500;
  color: $white;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-card__field {
  display: flex;
  align-items: center;
  & .v-application {
    width: 100%;
    background: unset;
  }
}

::v-deep .field-expiry > .v-input__control > .v-input__slot {
  padding-right: 0 !important;
}

.v-input__slot {
  padding-right: 0;
}

.go-payment {
  font-size: 16px;
}

.input-card__field-icon {
  position: relative;
  z-index: 2;
}

.icon-input {
  position: absolute;
  top: 15%;
  right: 12px;
  z-index: -1;
  &:hover ~ .img-cvv {
    display: block;
    animation: fade-in 0.4s;
  }
}
.icon-info{
  z-index: 1 !important;
}

.img-cvv {
  position: absolute;
  top: -120px;
  right: 18px;
  z-index: 2;
  display: none;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
