.v-badge__wrapper {
  left: -45px!important;
}

.v-autocomplete__content.v-menu__content {
  border-radius: 16px!important;
}


.theme--dark.v-list {
  background: #2f3543!important;
}

.v-dialog {
  border-radius: 20px !important;
}
