// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// define grid breakpoint before import sass
// $grid-breakpoints: (
//   'xs': 0px,
//   'sm': 600px,
//   'md': 960px,
//   'lg': 1264px - 16px,
//   'xl': 1904px - 16px
// );

// viewpoint
$container-max-widths: (
  'md': 1400px,
  'lg': 1400px,
  'xl': 1400px
);
// Import the Vuetify styles somewhere global
@import '~vuetify/src/styles/styles.sass';
@import './overwrite.scss';
@import '~/assets/color.scss';
@import '~/assets/custom.scss';
@import '~/assets/override.scss';
@import '~assets/fonts.scss';
@import '~assets/responsive.scss';
//
// The variables you want to modify
// $font-size-root: 20px;

/*TOAST NUXT*/
.toasted-container {
  font-family: Montserrat;
  top: 5%!important;
  .toasted {
    &.bubble {
      font-size: 12px!important;
    }
  }
}

// color
// scss example: $grey-1
// class text example: grey--text text--grey-1
// class background example: grey grey-1
// neutral color
$grey: map-deep-merge(
    (
      'grey-10': $grey-10,
      'grey-9': $grey-9,
      'grey-8': $grey-8,
      'grey-7': $grey-7,
      'grey-6': $grey-6,
      'grey-5': $grey-5,
      'grey-4': $grey-4,
      'grey-3': $grey-3,
      'grey-2': $grey-2,
      'grey-1': $grey-1
    ),
    $grey
);
$yellow: map-deep-merge(
    (
      'yellow-10': $yellow-10,
      'yellow-9': $yellow-9,
      'yellow-8': $yellow-8,
      'yellow-7': $yellow-7,
      'yellow-6': $yellow-6,
      'yellow-5': $yellow-5,
      'yellow-4': $yellow-4,
      'yellow-3': $yellow-3,
      'yellow-2': $yellow-2,
      'yellow-1': $yellow-1
    ),
    $yellow
);
$blue: map-deep-merge(
    (
      'blue-10': $blue-10,
      'blue-9': $blue-9,
      'blue-8': $blue-8,
      'blue-7': $blue-7,
      'blue-6': $blue-6,
      'blue-5': $blue-5,
      'blue-4': $blue-4,
      'blue-3': $blue-3,
      'blue-2': $blue-2,
      'blue-1': $blue-1
    ),
    $blue
);

$orange: map-deep-merge(
    (
      'orange-10': $orange-10,
      'orange-9': $orange-9,
      'orange-8': $orange-8,
      'orange-7': $orange-7,
      'orange-6': $orange-6,
      'orange-5': $orange-5,
      'orange-4': $orange-4,
      'orange-3': $orange-3,
      'orange-2': $orange-2,
      'orange-1': $orange-1
    ),
    $orange
);

$red: map-deep-merge(
    (
      'red-10': $red-10,
      'red-9': $red-9,
      'red-8': $red-8,
      'red-7': $red-7,
      'red-6': $red-6,
      'red-5': $red-5,
      'red-4': $red-4,
      'red-3': $red-3,
      'red-2': $red-2,
      'red-1': $red-1
    ),
    $red
);

$green: map-deep-merge(
    (
      'green-10': $green-10,
      'green-9': $green-9,
      'green-8': $green-8,
      'green-7': $green-7,
      'green-6': $green-6,
      'green-5': $green-5,
      'green-4': $green-4,
      'green-3': $green-3,
      'green-2': $green-2,
      'green-1': $green-1
    ),
    $red
);
$shades: () !default;
$shades: map-deep-merge(
    (
      'dark': $dark,
      'carbon-4': $carbon-4,
      'carbon-3': $carbon-3,
      'carbon-2': $carbon-2,
      'carbon-1': $carbon-1,
      'white': $white,
    ),
    $shades
);


// material custom
$material-dark: () !default;
$material-dark: (
  (
    'status-bar': (
      'regular': $dark,
      'lights-out': rgba(map-get($shades, 'black'), 0.2)
    ),
    'app-bar': $carbon-1, // https://vuetifyjs.com/en/components/app-bars/
    'background': $grey-1,
    'bottom-navigation': map-get($material-dark-elevation-colors, '8'), //https://vuetifyjs.com/en/components/bottom-navigation/
    'surface': $dark,
    'calendar': (
      'background-color': #303030,
      'outside-background-color': #202020,
      'weeknumber-background-color': #202020,
      'line-color': map-get($grey, 'base'),
      'interval-color': map-get($grey, 'lighten-3'),
      'interval-line-color': map-get($grey, 'darken-2'),
      'text-color': map-get($shades, 'white'),
      'past-color': rgba(map-get($shades, 'white'), .50)
    ),
    'cards': map-get($material-dark-elevation-colors, '1'),
    'chips': #555,
    'code': (
      'background': rgba(map-get($shades, 'white'), 0.1),
      'color': currentColor
    ),
    'kbd': (
      'background': #212529,
      'color': map-get($shades, 'white')
    ),
    'dividers': rgba(map-get($shades, 'white'), 0.12),
    'text': (
      'theme': map-get($shades, 'white'),
      'primary': map-get($shades, 'white'),
      'secondary': rgba(map-get($shades, 'white'), 0.7),
      'disabled': rgba(map-get($shades, 'white'), 0.5),
      'link': map-get($blue, 'accent-1'),
      'link-hover': map-get($grey, 'lighten-3')
    ),
    'icons': (
      'active': map-get($shades, 'white'),
      'inactive': rgba(map-get($shades, 'white'), 0.5)
    ),
    'inputs': (
      'box': map-get($shades, 'white'),
      'solo-inverted': rgba(map-get($shades, 'white'), 0.16),
      'solo-inverted-focused': map-get($shades, 'white'),
      'solo-inverted-focused-label': rgba(map-get($shades, 'black'), .6),
      'solo-inverted-focused-placeholder': rgba(map-get($shades, 'black'), 0.38),
      'solo-inverted-focused-text': rgba(map-get($shades, 'black'), 0.87)
    ),
    'buttons': (
      'disabled': $carbon-1,
      'focused': rgba(map-get($shades, 'white'), 0.12),
      'focused-alt': rgba(map-get($shades, 'white'), 0.1),
      'pressed': rgba(#ccc, 0.25)
    ),
    'expansion-panels': (
      'focus': #494949
    ),
    'navigation-drawer': map-get($material-dark-elevation-colors, '16'),
    'selection-controls': (
      'disabled': rgba(map-get($shades, 'white'), 0.3),
      'thumb': (
        'inactive': map-get($grey, 'lighten-1'),
        'disabled': map-get($grey, 'darken-3')
      ),
      'track': (
        'inactive': rgba(map-get($shades, 'white'), 0.3),
        'disabled': rgba(map-get($shades, 'white'), 0.1)
      )
    ),
    'slider': (
      'active': rgba(map-get($shades, 'white'), 0.3),
      'inactive': rgba(map-get($shades, 'white'), 0.2),
      'disabled': rgba(map-get($shades, 'white'), 0.2),
      'discrete': map-get($shades, 'white')
    ),
    'skeleton': linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .05), rgba(255, 255, 255, 0)),
    'states': (
      'hover': 0.08,
      'focus': 0.24,
      'selected': 0.16,
      'activated': 0.24,
      'pressed': 0.32,
      'dragged': 0.16
    ),
    'tabs': $white,
    'toggle-buttons': (
      'color': map-get($shades, 'white')
    ),
    'text-fields': (
      'filled': rgba(map-get($shades, 'white'), 0.08),
      'filled-hover': rgba(map-get($shades, 'white'), 0.16),
      'outlined': rgba(map-get($shades, 'white'), 0.24),
      'outlined-disabled': rgba(map-get($shades, 'white'), 0.16),
      'outlined-hover': map-get($shades, 'white')
    ),
    'input-bottom-line': rgba(map-get($shades, 'white'), 0.7),
    'stepper': (
      'active': rgba(map-get($shades, 'white'), 1),
      'completed': rgba(map-get($shades, 'white'), 0.87),
      'hover': rgba(map-get($shades, 'white'), 0.75)
    ),
    'table': (
      'active': #505050,
      'hover': map-get($grey, 'darken-2'),
      'group': map-get($grey, 'darken-2')
    ),
    'toolbar': map-get($material-dark-elevation-colors, '4'),
    'picker': (
      'body': map-get($grey, 'darken-3'),
      'clock': map-get($grey, 'darken-2'),
      'indeterminateTime': map-get($grey, 'darken-1'),
      'title': map-get($grey, 'darken-2')
    ),
    'color-picker': (
      'checkerboard': rgba(map-get($shades, 'white'), 0.12)
    ),
    'bg-color': #303030,
    'fg-color': map-get($shades, 'white'),
    'text-color': map-get($shades, 'white'),
    'primary-text-percent': 1,
    'secondary-text-percent': 0.7,
    'disabledORhints-text-percent': 0.5,
    'divider-percent': 0.12,
    'active-icon-percent': 1,
    'inactive-icon-percent': 0.5
  )
);


// global
$body-font-family: Montserrat;
$btn-border-radius: 25px;
$btn-rounded-border-radius: 20px;
$text-field-border-radius: $border-radius-root * 8;
$btn-text-transform: capitalize !important;

// Scrollbar
::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

::-webkit-scrollbar-track {
  width: 12px;
  height: 50%;
  background: rgb(47, 53, 67);
  border-left: 0px solid rgb(47, 53, 67);
  border-right: 0px solid rgb(47, 53, 67);
}

::-webkit-scrollbar-thumb {
  background: #505050 !important;
  width: 0 !important;
  height: 25% !important;
}

// progress
$progress-linear-border-radius: 15px;
