$gradient: linear-gradient(221.15deg, #BD8727 0%, #FFD574 49.02%, #FECA50 62.02%, #BD8727 101.47%);

$grey-10: #282C37;
$grey-9: #3D414B;
$grey-8: #53565F;
$grey-7: #686B73;
$grey-6: #7E8087;
$grey-5: #93959B;
$grey-4: #A9ABAF;
$grey-3: #BEC0C3;
$grey-2: #D4D5D7;
$grey-1: #E9EAEB;

$yellow-10: #DBA83D;
$yellow-9: #DEB050;
$yellow-8: #E2B964;
$yellow-7: #E6C277;
$yellow-6: #E9CB8B;
$yellow-5: #EDD39E;
$yellow-4: #F1DCB1;
$yellow-3: #F4E5C5;
$yellow-2: #F8EDD8;
$yellow-1: #FBF6EC;

$blue-10: #2596FF;
$blue-9: #3BA1FF;
$blue-8: #51ABFF;
$blue-7: #67B6FF;
$blue-6: #7CC0FF;
$blue-5: #92CBFF;
$blue-4: #A8D5FF;
$blue-3: #BEE0FF;
$blue-2: #D3EAFF;
$blue-1: #E9F5FF;

$orange-10: #FE951A;
$orange-9: #FEA031;
$orange-8: #FEAA48;
$orange-7: #FEB55F;
$orange-6: #FEBF76;
$orange-5: #FECA8D;
$orange-4: #FFD5A3;
$orange-3: #FFDFBA;
$orange-2: #FFEAD1;
$orange-1: #FFF4E8;

$red-10: #FF4848;
$red-9: #FF5B5B;
$red-8: #FF6D6D;
$red-7: #FF7F7F;
$red-6: #FF9191;
$red-5: #FFA4A4;
$red-4: #FFB6B6;
$red-3: #FFC8C8;
$red-2: #FFDADA;
$red-1: #FFEDED;

$green-10: #3FD762;
$green-9: #53DB71;
$green-8: #66DF81;
$green-7: #79E391;
$green-6: #8CE7A1;
$green-5: #9FEBB0;
$green-4: #B2EFC0;
$green-3: #C6F3D0;
$green-2: #D9F7DF;
$green-1: #ECFBEF;

$dark: #171A23;
$carbon-1: #45484F;
$carbon-2: #74767B;
$carbon-3: #A2A3A7;
$carbon-4: #D1D1D3;
$white: #FFFFFF;
