@import "fonts";
@import "transitions";

::selection {
  color: black;
  background: $--color-primary;
  -webkit-text-fill-color: black;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $--font-family-body;
  font-size: 16px;
  line-height: 1.5em;
  background: $--color-background-page;
  color: $--color-text-body;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $--font-family-heading;
  color: $--color-text-heading;
  font-weight: normal;
  line-height: 1.15em;
}

a {
  color: $--color-text-body;
  text-decoration: none;
  transition: .3s ease-in-out;
  &:hover {
    color: $--color-primary;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 480px;
  @include media(sm) {
    max-width: 720px;
  }
  @include media(md) {
    max-width: 960px;
  }
  @include media(lg) {
    max-width: 1180px;
  }
}

.page {
  &__gap {
    height: 2rem;
  }
  &--article {
    padding: 2rem 0 0 0;
    max-width: 860px;
    margin: auto;
    article {
      margin-top: 2em;
      @include media(sm-down) {
        font-size: 14px;
      }
    }
  }
}

.dfy-decorator {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: -0.5em;
  @include media(sm) {
    font-size: 6.5em;
  }
  @include media(md) {
    font-size: 9em;
  }
  color: transparent;
  -webkit-text-stroke: 1px lighten(#252f3f, 5);
  font-family: $--font-family-heading;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}

.dfy-clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.dfy-flex {
  display: flex;
  > * {
    min-width: 0;
  }
}

.dfy-button {
  position: relative;
  box-sizing: border-box;
  border-radius: 1000px;
  display: inline-flex;
  align-items: center;
  appearance: none;
  border: none;
  outline: none;
  font-family: $--font-family-body;
  cursor: pointer;
  font-size: 1em;
  height: 2.5rem;
  padding: 0.7rem 1.2rem;
  @include media(sm) {
    height: 3rem;
    padding: 0.9rem 1.5rem;
  }
  &--overlay {
    background: rgba(#f9fafb, 0.05);
    color: white;
    transition: background .3s ease-in-out;
    &:hover {
      background: rgba(#f9fafb, 0.1);
      color: white;
    }
  }
  &--primary {
    background: $--color-primary;
    color: white !important;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(white, 0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      filter: blur(10px);
      transform: translateX(-100px) skewX(-30deg);
      transition: .3s;
    }
    &:hover {
      color: white;
      &:before {
        transform: translateX(300px) skewX(-30deg);
      }
    }
  }
  &--special {
    background: linear-gradient(30deg, #fa6565, #e88f8f);
    overflow: hidden;
    color: white;
    transition: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(white, 0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      filter: blur(10px);
      transform: translateX(-100px) skewX(-30deg);
      transition: transform .3s;
    }
    &:hover {
      color: white;
      &:before {
        transform: translateX(300px) skewX(-30deg);
      }
    }
  }
  &--ghost {
    background: transparent;
    border: 1px solid #374151;
    color: $--color-text-body;
    &:hover {
      color: lighten($--color-text-body, 10);
      border-color: lighten(#374151, 10);
    }
  }
  &--beta,
  &--coming-soon {
    position: relative;
    &:after {
      content: 'Beta';
      background: $--color-info;
      color: white;
      font-size: 10px;
      font-family: $--font-family-sans-serif;
      text-transform: uppercase;
      position: absolute;
      top: -7px;
      right: 0;
      line-height: 1em;
      padding: 3px 5px;
      border-radius: 1000px;
      font-weight: bold;
    }
  }
  &--coming-soon {
    cursor: default;
    &:hover {
      color: transparent;
      &:after {
        opacity: 1;
      }
    }
    &:after {
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
      content: 'Coming\ASoon';
      white-space: pre;
      background: transparent;
      opacity: 0;
      font-size: 11px;
      line-height: 1.25em;
      letter-spacing: .5px;
    }
  }
}
