@import 'vue-popperjs/dist/vue-popper.css';

.popper {
  $bg: lighten($--color-background-page, 7);
  $arrow: 8px;
  background: $bg;
  border: none;
  border-radius: 8px;
  padding: 1.25em;
  box-shadow: 0 10px 20px 0 rgba(black, .1);
  z-index: 100;
  &__arrow {
    margin: $arrow;
  }
  &[x-placement^="bottom"] {
    .popper__arrow {
      border-bottom-color: $bg;
      border-width: 0 $arrow $arrow $arrow;
      top: -$arrow;
    }
  }
  &[x-placement^="top"] {
    .popper__arrow {
      border-top-color: $bg;
      border-width: $arrow $arrow 0 $arrow;
      bottom: -$arrow;
    }
  }
}
